cmake
dlib==19.22.0  # Ensure you specify a version that has precompiled wheels
face-recognition==1.3.0  # Ensure compatibility with the dlib version
streamlit
streamlit-option-menu
streamlit-extras
pymongo
pandas
numpy
matplotlib
seaborn
Pillow
